In [3]:
! pip install mysql-connector-python
! pip install sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\shash\anaconda3\lib\site-packages (8.3.0)
Requirement already satisfied: sqlalchemy in c:\users\shash\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shash\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shash\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [1]:
# Execute on startup
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

connection_string = 'mysql://root:password@localhost:3306/sakila'

def create_connection(connection_string):
    return create_engine(connection_string)

db_connection = create_connection(connection_string)

def sql(query):
    return pd.read_sql(query, con=db_connection)

In [3]:
sql('SELECT * FROM actor limit 1')

   actor_id first_name last_name         last_update
0         1   PENELOPE   GUINESS 2006-02-15 04:34:33