In [3]:
! pip install mysql-connector-python
! pip install sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\shash\anaconda3\lib\site-packages (8.3.0)
Requirement already satisfied: sqlalchemy in c:\users\shash\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shash\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shash\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

connection_string = 'mysql://root:password@localhost:3306/sakila'

def create_connection(connection_string):
    return create_engine(connection_string)

db_connection = create_connection(connection_string)

def sql(query):
    return pd.read_sql(query, con=db_connection)

In [2]:
sql('SELECT * FROM actor limit 10')

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
5         6      BETTE     NICHOLSON 2006-02-15 04:34:33
6         7      GRACE        MOSTEL 2006-02-15 04:34:33
7         8    MATTHEW     JOHANSSON 2006-02-15 04:34:33
8         9        JOE         SWANK 2006-02-15 04:34:33
9        10  CHRISTIAN         GABLE 2006-02-15 04:34:33